mixin searchBlock(video)
  .videoSearch 
    .videoSearch__video
      a(href=routes.videoDetail(video.id))
        video(class="searchVideo" src=video.fileUrl, poster=video.thumbnailUrl, controls=false, muted="muted")
    .videoSearch__content
      a(href=routes.videoDetail(video.id))
        h4.videoSearch__title #{video.title}

      .videoSearch__viewDate
        if video.views === 1
          h6.videoSearch__views 1 view 
        else if video.views === 0
          h6.videoSearch__views 0 view
        else 
          h6.videoSearch__views #{video.views} views
        em •
        h6 #{video.createdAt.getFullYear()}-#{`${video.createdAt.getMonth()+1}` < 10 ? `0${video.createdAt.getMonth()+1}` : `${video.createdAt.getMonth()+1}`}-#{`${video.createdAt.getDate()}` < 10 ? `0${video.createdAt.getDate()}` : `${video.createdAt.getDate()}`}
      
      .videoSearch__creator 
        a(href=routes.userDetail(video.creator._id))
          img(src=video.creator.avatarUrl)
          h5 #{video.creator.name}
      
      .videoSearch_description  
        h5 #{video.description}