//- mixin은 일종의 pug함수라고 보면 된다
//- videoBlock이라는 함수를 생성후 필요한 곳에서 +videoBlock을 통해 함수를 호출해 사용할 수 있다
mixin videoBlock(video)
  .videoBlock
    a(href=routes.videoDetail(video.id))
      video.videoBlock__thumbnail(src=video.videoFile, poster=video.thumbnailFile, controls=false muted="muted")
      .videoBlock__thumbnail__content 
        .videoBlock__thumbnail__image
          if video.creator.avatarUrl
            img(src=video.creator.avatarUrl)
          else 
            img(src="/images/profile_user.png")
        .videoBlock__thumbnail__main
          h4.videoBlock__title #{video.title}
          h5 #{video.creator.name}
          .videoBlock__thumbnail__viewDate 
            if video.views === 1
              h6.videoBlock__views 1 view 
            else if video.views === 0
              h6.videoBlock__views 0 view
            else 
              h6.videoBlock__views #{video.views} views
            em •
            h6 #{video.createdAt.getFullYear()}-#{`${video.createdAt.getMonth()+1}` < 10 ? `0${video.createdAt.getMonth()+1}` : `${video.createdAt.getMonth()+1}`}-#{`${video.createdAt.getDate()}` < 10 ? `0${video.createdAt.getDate()}` : `${video.createdAt.getDate()}`}

      