extends layouts/main.pug

block content
  .form-container 
     form(action=routes.join, method="post")
       .form__input
          input(type="text", name="name", placeholder="Name", required=true)
          i.fa.fa-user
       .form__input
          input(type="email", name="email", placeholder="Email", required=true)
          i.fa.fa-envelope
       .form__input
          input(type="password", name="password", placeholder="Password", required=true)
          i.fas.fa-unlock
       .form__input
          input(type="password", name="verifyPassword", placeholder="Confirm Password", required=true)
          i.fas.fa-lock
       input(type="submit", value="JOIN")
       
     include partials/socialLogin
