header.header
  .header__wrapper
    //- div.header__column에서 div는 생략하고 .header__column만 사용가능(div태그만 생략가능)
    div.header__column
      a(href=routes.home class="youtube__title")
        span.header__align 
          span 
          span 
          span 
        i.fab.fa-youtube
        |YouTube
    div.header__column
      form(action=routes.search, method="get" class="search__form")
        input(type="text", name="term", placeholder="Search")
        i.fas.fa-search
    div.header__column
      ul
        //- 로그인이 안 됐을 때
        if !loggedUser
          li.join__btn
            a(href=routes.join) JOIN
          li.login__btn
            i.fas.fa-user-circle
            a(href=routes.login) SIGN IN
        //- 로그인이 됐을 때
        else 
          li.upload__btn
            a(href=`${routes.videos}${routes.upload}`)
              i.fas.fa-upload
              |Upload
          li.profile__btn
            a(href=routes.me)
              i.fas.fa-user
              |Profile
          li.logout__btn
            a(href=routes.logout)
              i.fas.fa-sign-out-alt
              |Sign out
          